<div class="container-fluid classpage-main"
  <div class="row">
    <div class="col-sm-4 ">
      <due-soon course="course" assignment-filter="assignmentFilter"></due-soon>
      <search-by-topic topic-filter="topicFilter" topics="course.topics"></search-by-topic>
    </div>
    <div class="col-sm-8">
      <assignment-feed assignments="course.assignments" assignment-filter="assignmentFilter" topic-filter="topicFilter"></assignment-feed>
    </div>
  </div>
  <!-- <div ng-hide="role === 'student'" class="fixed-button teacher-button-list-container">
    <ul ng-mouseleave="toggleButtons()" ng-if="buttonsVisible" class="teacher-button-list">
      <li class="button-container">+</li>
      <li class="button-container">+</li>
      <li class="button-container">+</li>
      <li class="button-container">+</li>
      <li class="button-container">+</li>
    </ul>
    <div class="button-container">
      <div ng-mouseenter="toggleButtons()">+</div>
    </div> -->
  </div>
</div>
