<div class="due-soon-card-conatiner container-fluid">
  <div class="panel panel-default due-soon-card">
    <div class="panel-heading">
      Due Soon
    </div>
    <div class="panel-body">
      <ul class="due-soon-data assignments">
        <li ng-repeat="assignment in course.assignments">
          <div class="assignment-on-card" ng-click="show = !show">
            {{assignment.assignment_name}} Due: {{assignment.due_date | date:"EEE, MM/dd"}}
          </div>
        </li>
      </ul>
    </div>
    <div class="panel-footer">

    </div>
  </div>
</div>
