<div class="class-card-container container-fluid">
  <div ng-repeat="course in courses" class="panel panel-default class-card">
    <div class="panel-heading">
      <a ui-sref="classPage({id:course.class_id})">{{course.subject}}</a>
    </div>
    <div class="panel-body">
        <ul class="course-data assignments">
          <p id="due-soon">Due Soon</p>
          <li ng-repeat="assignment in course.assignments">
            <div class="assignment-on-card" ng-click="show = !show">
              {{assignment.assignment_name}} Due: {{assignment.due_date | date:"EEE, MM/dd"}}
            </div>
            <div ng-show="show">
              <ul class="assignment-details">
                <li>{{assignment.info}}</li>
                <li ng-repeat="attachment in attachments">{{attachment}}</li>
              </ul>
            </div>
          </li>
        </ul>
    </div>
    <div class="panel-footer">
      <ul class="footer-info">
        <li><i class="fa fa-folder-open-o"  aria-hidden="true"></i></li>
        <li><i class="fa fa-comment-o"  aria-hidden="true"></i></li>
        <li><i class="fa fa-envelope-o"  aria-hidden="true"></i></li>
        <li id="gradebook">GradeBook</li>
      </ul>
    </div>
  </div>
</div>
