*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*NavBar*/

.btn {
  margin: .5em;
}
#student-button {
  margin-right: 2em;
}
#dropdownMenu {
  background-color: #222222;
  border: none;
  margin: 0 auto;
}
.glyphicon-plus {
  font-size: 12px;
  color: white;
  margin-right: .5em;
}
.glyphicon-user {
  font-size: 12px;
  color: white;
  margin-right: .5em;
}

#sign-out-button {
  margin-right: 2em;
}

.ui-view {
  margin-top: 55px;
}

.username {
  color: white;
}

/*Login Form*/
.login {
  width: 30%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
}

.form-control {
  width: 80%;
}

form .btn {
  width: 80%;
}

/*Class Cards*/
.fa.fa-folder.open-o {
  color:black;
}

.course-data {
  list-style: none;
  font-family: "Merriweather",serif;
}

#due-soon {
  border-bottom: 1px solid black;
}

.footer-info {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.course-data a {
  text-decoration: none;
  color: black;
  font-size: 35px;
}

.class-details{
  background-color: #D9EDF7;
}
.assignments {
  margin-left: 10px;
  list-style: none;
}

.assignment-details {
  margin-left: 20px;
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
}
#grade {
  border: 2px solid red;
  border-radius: 10px;
  padding: 5px;

}

.class-card {
  width: 25%;
  margin-top: 5%;
}
.class-card-container {
  display: flex;
  justify-content: space-between;
}

/*Footer*/

.fa.fa-twitter {
  font-size: 24px;
  color: white;
  margin: .5em;
}

.fa.fa-github {
  font-size: 24px;
  color: white;
  margin: .5em;
}

.fa.fa-linkedin {
  font-size: 24px;
  color: white;
  margin-right: 2em;
  margin-left: .5em;
}
